{% load static %}

            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <h2>Наші ціни </h2>
                        <p><a href="{% static 'img/Prices.xls' %}" download>ЗАВАНТАЖИТИ 01.08.2023</a></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            Грунтовка стін та стель один раз.
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            20 грн. м2 & м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            Грунтовка стін та стель бетон контактом.
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            35 грн. м2 & м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            Закладка замазка штроб.
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            від 30 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                            Штукатурка гіпсова до 20мм.
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            200 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                            Штукатурка погонних елементів до 50 см. та відкосів.
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            200 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.6s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse6">
                                            Шпаклівка стін та стель під щільні шпалери та склополотно.
                                        </a>
                                    </div>
                                    <div id="collapse6" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            120 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.7s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse7">
                                            Шпаклівка погонних елементів стін, стель, відкосів під щільні шпалери та склополотно.
                                        </a>
                                    </div>
                                    <div id="collapse7" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            120 грн. м/п  (одна площина)
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.8s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse8">
                                            Вирівнювання кутів, стіни під плінтус, стіни під багети.
                                        </a>
                                    </div>
                                    <div id="collapse8" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            80 грн. м/п (одна площина)
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.9s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse9">
                                            Поклейка склополотна стіни, стеля/відкоси, погонні елементи.
                                        </a>
                                    </div>
                                    <div id="collapse9" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            85 грн. м2 & м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.0s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse10">
                                            Фінішна шпаклівка стін та стель / відкоси, погонні елементи.
                                        </a>
                                    </div>
                                    <div id="collapse10" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            130 грн. м2 & м/п  (одна площина)
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse11">
                                            Фарбування стін та стель / фарбування погонних елементів.
                                        </a>
                                    </div>
                                    <div id="collapse11" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            95 грн. м2 & м/п  (одна площина)
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse12">
                                            Поклейка паперової стрічки на стики гкл та внутрішні кути.
                                        </a>
                                    </div>
                                    <div id="collapse12" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            50 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse13">
                                            Поклейка серп'янки.
                                        </a>
                                    </div>
                                    <div id="collapse13" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            25 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse14">
                                            Поклейка сітки.
                                        </a>
                                    </div>
                                    <div id="collapse14" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            80 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse15">
                                            Армування кутів сіткою при штукатурці.
                                        </a>
                                    </div>
                                    <div id="collapse15" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            60 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.6s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse16">
                                            Встановлення перфокута.
                                        </a>
                                    </div>
                                    <div id="collapse16" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            45 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="1.7s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse17">
                                            Герметизація внутрішніх кутів стін акриловим герметиком, щоб уникнути тріщин (при фарбуванні).
                                        </a>
                                    </div>
                                    <div id="collapse17" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            25 грн. м/п
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">
                                <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            Поклейка шпалер.
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            від 135 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            Зменшення дверних порталів по висоті.
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            350 грн. шт.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                            Акрил примикань під малярську стрічку.
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            40 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                            Акрил примикань фарбування стелі до плитки (санвузол).
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            65 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                            Поклейка багетів та молдингів.
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            від 80 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.6s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse23">
                                            Фарбування багетів та молдингів.
                                        </a>
                                    </div>
                                    <div id="collapse23" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            від 80 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.7s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse24">
                                             Очищення віконного профілю по периметру від стрічки та бруду (для фарбування).
                                        </a>
                                    </div>
                                    <div id="collapse24" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            100 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.8s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse25">
                                             Поклейка текстильних шпалер.
                                        </a>
                                    </div>
                                    <div id="collapse25" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            від 180 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.9s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse26">
                                             Поклейка фотошпалер.
                                        </a>
                                    </div>
                                    <div id="collapse26" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            від 220 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.0s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse27">
                                             Перегородки з ГКЛ з одношаровою плиткою та ватою.
                                        </a>
                                    </div>
                                    <div id="collapse27" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            330 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse28">
                                             Стелі ГКЛ 1 рівень.
                                        </a>
                                    </div>
                                    <div id="collapse28" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            220 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse29">
                                             Влаштування мінвати на стелю під ГКЛ.
                                        </a>
                                    </div>
                                    <div id="collapse29" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            100 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse30">
                                             Короб із ГКЛ 1 сторона.
                                        </a>
                                    </div>
                                    <div id="collapse30" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            200 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse31">
                                             Ніша під карниз у ГКЛ стелі 1 опуск.
                                        </a>
                                    </div>
                                    <div id="collapse31" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            200 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse32">
                                             Ніша під карниз у ГКЛ стелі 2 опуск.
                                        </a>
                                    </div>
                                    <div id="collapse32" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            400 грн. м/п
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.6s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse33">
                                             Фальш стіни із ГКЛ.
                                        </a>
                                    </div>
                                    <div id="collapse33" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            210 грн. м2
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="1.7s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapse34">
                                             Укладання ламінату з підкладкою та попередньою ґрунтовкою підлоги.
                                        </a>
                                    </div>
                                    <div id="collapse34" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            170 грн. м2
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
