{% load static %}

            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-worker"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>МАЛЯР Майстер</h3>
                                    <p>"Маляр-майстер - це той, хто дарує кольори життю, перетворюючи звичайні площі на палітру емоцій та краси."</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Якісна робота</h3>
                                    <p>"Якісна робота - це невидима мить, увага до деталей та завзятість зливаються в одне, створюючи результат, що говорить сам за себе."</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Заявка!</h3>
                                    <p>"Кожна заявка - це початок подорожі, де ми з великою увагою вивчаємо ваші бажання та потреби, щоб надати вам найкращий результат."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
