{% load static %}

            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <p><i class="fa fa-phone-alt"></i>+38(067) 502-43-06</p>
                                <p><i class="fa fa-phone-alt"></i>+38(063) 446-71-83</p>
                                <p>sanya.anton.painter@gmail.com</p>
                                <div class="footer-social">
                                    <a href="https://www.facebook.com/profile.php?id=100095463016216"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/sanya.anton/?hl=uk"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <a href="">Умови співпраці</a>
                                <a href="">Політика конфіденційності</a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <a href="/about">Про нас</a>
                                <a href="/contacts">Зв'яжіться з нами</a>
                                <a href="/team">Наша команда</a>
                                <a href="/catalog/service">Ціни & Прайс</a>
                                <a href="/catalog/">Галерея</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <p>
                                    Залиште свій номер телефону або електронну пошту і ми зв'яжемося з вами.
                                </p>
                                <div class="form">
                                    <a class="btn" href="/form/">Залишити заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2002 <a href="/">Саня & Антон</a> . Команда<a href="/team"> Малярів-Технологів</a>  </p>
                        </div>
<!--                        <div class="col-md-6">-->
<!--                            <p>Команда<a href="#"> Малярів-Технологів</a></p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
