{% load static %}

            <div class="page-header">

                <div class="container">
                    <img src="{% static 'img/Маляра-лого.ico' %}" alt="Logo" align="left"  >

                    <div class="row">

                        <div class="col-12">
                            <h2><span style="color: #fdbe33;">{{ title }}</span></h2>
                        </div>
                        <div class="col-12">
                            <a href="/">Головна</a>
                            <a href="/catalog/service">Ціни</a>
                        </div>
                    </div>
                </div>
            </div>
