{% load static %}

            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Наші Послуги</p>
                        <h2>Робимо не прості речі  </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-1.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            Бригада малярів, що спеціалізується на поклейці декоративних виробів, володіє навичками та креативністю, що дозволяють їм перетворювати звичайні приміщення в неймовірні арт-простори.
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Поклейка декору</h3>
                                    <a class="btn" href="{% static 'img/service-1.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-2.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            Оздоблення приміщень шумоізоляційними матеріалами може покращити комфорт і звуковий клімат в приміщенні.
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Поклейка шумоізоляції</h3>
                                    <a class="btn" href="{% static 'img/service-2.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-3.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            Ремонт офісу, який включає повний комплекс малярних робіт, може перетворити робоче середовище, надавши йому новий вигляд та атмосферу.
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Ремонт офісу</h3>
                                    <a class="btn" href="{% static 'img/service-3.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-4.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            Ручний декор - це чудовий спосіб надати приміщенню унікальний та особливий характер. Це може включати різноманітні ручні роботи, художні прийоми та деталі, які роблять інтер'єр особливим та неповторним
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Ручний декор</h3>
                                    <a class="btn" href="{% static 'img/service-4.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-5.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            Фото шпалери - це чудовий спосіб втілити ваші творчі ідеї на стінах, додати вишуканості та індивідуальності. Від абстрактних малюнків до природних пейзажів, від мінімалістичних до екстравагантних, існує безмежна гама варіантів.
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Фото шпалери</h3>
                                    <a class="btn" href="{% static 'img/service-5.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'img/service-6.jpg' %}" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                           Фарбування без меж - це відмінний спосіб виразити вашу творчість та створити динамічний та вишуканий образ у вашому приміщенні. Від абстрактних експериментів до виразних геометричних форм, цей стиль надає вам волю для самовираження.
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Фарбування без меж</h3>
                                    <a class="btn" href="{% static 'img/service-6.jpg' %}" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
