{% load static %}

            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h1>
                                     Саня<span style="color: #fdbe33;">&amp;</span>Антон
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Електронна пошта </h3>
                                            <p><a href="mailto:sanya.anton.painter@gmail.com" class="link_header">  sanya.anton.painter@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>

<!--                                <div class="col-4">-->
<!--                                    <div class="top-bar-item">-->
<!--                                        <div class="top-bar-icon">-->
<!--                                            <i class="flaticon-calendar"></i>-->
<!--                                        </div>-->
<!--                                        <div class="top-bar-text">-->
<!--                                            <h3>Opening Hour</h3>-->
<!--                                            <p>Mon - Fri, 8:00 - 9:00</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Саня</h3>
                                            <p>Viber + Telegram</p>
                                            <p><a href="tel:+380675024306" class="link_header">+38(067) 502-43-06</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Антон</h3>
                                            <p>Viber + Telegram</p>
                                            <p><a href="tel:+380634467183" class="link_header">+38(063) 446-71-83</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
