<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'contact_us' %}">
        {% csrf_token %}
        <div class="row half">
            <div class="6u">
                <input name="subject" placeholder="Тема письма" type="text" class="text" />
            </div>
            <div class="6u">
                <input name="sender" placeholder="Ваш email для ответа" type="text" class="text" />
            </div>
     </div>
        <div class="row half">
            <div class="12u">
                <textarea name="message" placeholder="Текст письма"></textarea>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
             <a href="#" class="button button-icon fa fa-envelope">Написать нам</a>
                <input class="button button-icon fa fa-envelope" type="submit" value="Отправить письмо"/>
            </div>
        </div>
    </form>
</body>
</html>