{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}

    {% include '_fragments/Page Header.html' %}






            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="comment-form wow fadeInUp">
                                <h2>Залиште заявку ми вам зателефонуємо </h2>
                                <div class="form-user">
                                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeIPd-Tpx5ZrLkC-VJS8YxSFzfHG0E_JeyKY71k-GqwV3Fl6w/viewform?embedded=true" width="840" height="1074" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
                                </div>
<!--                                <form action="{% static 'mail/sender.php' %}" class="form" method="POST">-->
<!--&lt;!&ndash;                                    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="hidden" name="admin_email[]" value="sanya.anton.painter@gmail.com">&ndash;&gt;-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="name">Твоє ім'я</label>-->
<!--                                            <input type="text" class="form-control" class="name" name="name" id="name" required>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="email">Ваша електронна адреса</label>-->
<!--                                            <input type="email" class="form-control" name="email"  id="email" required>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="phone">Ваш номер телефону</label>-->
<!--                                            <input type="phone" class="form-control" class="phone" name="phone" id="phone" required>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="subject">Тема запиту</label>-->
<!--                                            <input type="text" class="form-control" name="subject" id="subject">-->
<!--                                        </div>-->

<!--                                        <div class="form-group">-->
<!--                                            <label for="message">Повідомлення</label>-->
<!--                                            <textarea name="text"  id="message" cols="30" rows="5" class="form-control"></textarea>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <input type="reset" value="Очистити" class="btn">-->
<!--                                            <button type="button" class="btn" class="send-form">Відправити</button>-->
<!--                                        </div>-->
<!--                                        <div class="status"></div>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--        <script src="{% static 'mail/jquery.maskedinput.js' %}"></script>-->
<!--        <script src="{% static 'mail/jquery.validate.min.js' %}"></script>-->
<!--        <script src="{% static 'mail/script.js' %}"></script>-->


{% endblock content %}